@inherits LayoutComponentBase

@inject IJSRuntime JS

@if (_isReady)
{
    <MudThemeProvider />
    <MudPopoverProvider />

    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout >
        <MudContainer MaxWidth="MaxWidth.Large" Class="pa-5">
            @Body
        </MudContainer>
    </MudLayout>
}
else
{
    <!-- optional: loading placeholder -->
    <div style="padding:20px;">Loading...</div>
}

@code {
    private bool _isReady;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isReady = true;
            StateHasChanged();
        }
    }
}